body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 600px) {
  .container {
    padding-top: 50px;
    width: 600px !important;
  }
}

.song-title {
  margin-left: 20px;
}

.controlsContainer {
  display: flex !important;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.mySlider {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 100px;
  margin-left: 0px;
}

.controls {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls .button {
  margin: 5px;
}

.current-track {
  margin-top: 10px;
  width: 80%;
}

.trackBox {
  display: flex !important;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
}

.myprogress {
  display: flex !important;
  flex-direction: row;
  margin-top: 10px;
  width: 80%;
}

.myprogress span {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -5px;
}

@keyframes slide {
  0% {
    transform: translatex(0%)
  }

  100% {
    transform: translatex(100%)
  }
}